# /README.md
# prueba.txt
# !6/
# # Se ignoran las siguientes carpetas
# *.tex
# *.txt
# *.bib
# *.pdf
# Diapositivas/
# Evaluaciones/
# InstrumentaciónDidactica/
# exclude everything except directory 6/Img
/*
!/6
/6/*
!/6/Img